{% block historical_data %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">date</th>
                <th scope="col">weight (lb)</th>
                <th scope="col">bp_systolic (mmHg)</th>
                <th scope="col">bp_diastolic (mmHg)</th>
            </tr>
        </thead>
        <tbody>
            {% for datapoint in datapoints %}
                <tr>
                    <td scope="row">{{ datapoint['date'] }}</td>
                    <td scope="row">{{ datapoint['weight'] }}</td>
                    <td scope="row">{{ datapoint['bp_systolic'] }}</td>
                    <td scope="row">{{ datapoint['bp_diastolic'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}