{% block historical_data %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">date</th>
                <th scope="col">weight (lb)</th>
                <th scope="col">bp (sys/dia)</th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO: sample data. -->
            <tr>
                <td scope="row">08/30/2019</td>
                <td scope="row">135.4</td>
                <td scope="row">98/45 mmHg</td>
            </tr>
            <tr>
                <td scope="row">08/31/2019</td>
                <td scope="row">134.1</td>
                <td scope="row">91/56 mmHg</td>
            </tr>
        </tbody>
    </table>
{% endblock %}